.capa-bg {
  background: url(../../img/camada-papel2.png) no-repeat;
  background-size: cover;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.capa::before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background: var(--cor-p3);
  position: absolute;
  bottom: -40px;
}

.capa {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(auto, auto);
  padding: 8px 20px 0 20px;
  margin-bottom: 162px;
  position: relative;
  z-index: 1;
}

.capa-foto {
  display: block;
  place-self: center;
  height: auto;
  width: 100%;
}
.capa-foto2 {
  display: none;
  place-self: center;
  height: auto;
  width: 100%;
}

@media (max-width: 800px) {
  .capa {
    padding: 2px 0 0 8px;
    margin-bottom: 142px;
  }
  .capa::before {
    height: 32px;
    bottom: -32px;
  }
  .capa-foto {
    display: none;
  }
  .capa-foto2 {
    display: block;
  }
}

@media (max-width: 500px) {
  .capa {
    margin-bottom: 122px;
  }
}
