.sobre-titulo {
  margin-left: 40px;
}

.sobre h2 {
  color: var(--cor-p1);
  margin-top: 16px;
  margin-bottom: 16px;
}

.sobre h3 {
  text-transform: uppercase;
}

.sobre h3::before {
  content: '';
  display: block;
  width: 120px;
  height: 6px;
  background-color: var(--cor-p3);
  margin-top: -6px;
  margin-bottom: 8px;
}

.sobre-bg {
  background-color: var(--cor-p1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sobre-perfil {
  color: var(--cor-0);
  margin: 40px;
}
