.font-1-xs {
  font: 400 0.75rem/1.35 'Poppins', sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 'Poppins', sans-serif;
}

.font-1-m {
  font: 400 1.125rem/1.35 'Poppins', sans-serif;
}

.font-1-ml {
  font: 400 1.125rem/1.5 'Poppins', sans-serif;
}

.font-1-mlb {
  font: 800 1.125rem/1.5 'Poppins', sans-serif;
}

.font-1-l {
  font: 400 1.2rem/1.5 'Poppins', sans-serif;
}

.font-1-xl {
  font: 800 2.25rem/1.12 'Poppins', sans-serif;
}

.font-1-xxl {
  font: 800 2.5rem/1.35 'Poppins', sans-serif;
}
